
@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.sliding-banner {
  animation: swipe 6s linear infinite backwards;
  animation-duration: 20s;
}

/* Backgrounds for the main banner */

.gradient-with-bg-1 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('assets/images/night-skyline2.webp');
  animation: zoomin 5s linear infinite alternate;
}

.gradient-with-bg-2 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('assets/images/downtown-cityscape-night-seoul-south-korea.webp');
  animation: zoomin 5s linear infinite alternate;
}

.gradient-with-bg-3 {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('assets/images/new-york-city-manhattan-chrysler-building-night.webp');
  animation: zoomin 5s linear infinite alternate;
}

@keyframes zoomin {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 105%;
  }
}

/* Backgrounds for Sections in services */

.services-img-bg {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('assets/images/cropped-business-people-discussing-charts-diagrams-office.webp');
}


.digital-transformation-bg {
  background-image: url('assets/images/digital-transformation-bg.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-pagination-bullet-active {
  color: black;
}

.about-us-banner-bg  {
  background-image: linear-gradient(0deg, rgba(71, 71, 71, 0.9), rgba(51, 51, 51, 0.9)), url('assets/images/3d-rendering-business-meeting-working-room-office-building.webp');
}